
*{
    margin: 0;
    padding: 0;
}    





.parent{
    height: 400px;
    width: 50%;
    background-color: orange;
}


.box{
    width: 50%;
    padding-top: 25%;
    background-color: gray;
}


































